body {
    margin : 0vh;
    min-height : 100vh;
    display : flex;
    justify-content : center;
    align-items : center;
    background-image: 
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url('fotofundo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    color : #ffffff;
    font-family : 'Arial', sans-serif;
}

.perfil {
    width : 90%;
    max-width : 400px;
    padding: 30px;
    text-align : center;

    background-color : rgba(30 , 30 , 30 , 0.65);
    backdrop-filter: blur (8px);
    border : 1px solid rgba(255 , 255 , 255 , 0.08);

    border-radius: 20px;    
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    box-sizing : border-box;

}
.perfil img {
    width : 130px;
    height : 130px;
    border-radius : 50%;
    object-fit : cover;
}

.links {
    display : flex;
    flex-direction : column;
    gap : 15px;
    margin-top : 30px;
}

.links a {
    padding : 15px;
    background-color : #6d14e2;
    color : #ffffff;
    text-decoration : none;
    border-radius : 10px;
    font-weight : bold;
    transition : 0.3s;
}

.links a:hover {
    background-color : #300766;
    transform : scale(1.05);
}
.perfil H1 {
    margin-bottom: 8px;

}

.perfil p {
    margin-top: 0;
    color : #b8b8b8
}
